{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-footer" . }}
{{ end }}

<div class="footer">
  <div class="contain">
    <p><strong class="bold">&copy; {{ .Site.Title }}, {{ now.Year }}</strong>
       &nbsp; • &nbsp; <a href="#">{{ T "backToTop" }}</a>
    </p>

    <p>{{ .Site.Params.description | markdownify }}</p>

    <p>
      <a href="https://www.dogsbody.com/" title="Home" target="_blank" rel="noopener">Home</a>
      <a href="https://www.dogsbody.com/contact/" title="Contact" target="_blank" rel="noopener">Contact</a>
      <a href="https://www.dogsbody.com/terms/privacy-policy/" title="Data Privacy" target="_blank" rel="noopener">Data Privacy</a>
      <a href="https://www.dogsbody.com/terms/terms-of-use/" title="Legal Notice" target="_blank" rel="noopener">Legal Notice</a>
    </p>

    <!-- Please keep this one around to help cState grow <3 -->
    <small class="footer__copyright faded">{{ T "poweredBy" }} <a href="https://github.com/cstate/cstate"><b>cState</b></a></small>

    {{ if not .Site.Params.disableIncidentHistory }}
      <hr>
      
      <p class="hinted">
        <small>
          ⚡
          {{ T "rss" }} —
          {{ with $.Site.Home.OutputFormats.Get "rss" }}
            <a href="{{ .Permalink }}" class="no-underline">{{ T "toAllUpdates" }}</a>
          {{ end }}
          {{ if not .IsHome }}
          {{ with .OutputFormats.Get "rss" }}
            {{ T "or" }} <a href="{{ .Permalink }}" class="no-underline">{{ T "onlyThisFeed" }} ({{ $.Title }})</a>
          {{ end }}
          {{ end }}
        </small>
      </p>
    {{ end }}
  </div>
</div>

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-footer" . }}
{{ end }}
